gitimage.png
PracticeFolder/
process-todo.txt

#-- Ignore all the data files
Data-Science-Fundamentals-Project/1.1-Basic-Analysis/data/

Data-Science-Fundamentals-Project/1.2-COVID-19-Global-Impact-Analysis-Dashboard/data/